.flex {
  display: flex;

  &[class*="-v"] {
    flex-direction: column;
  }

  &[class*="-c"] {
    align-items: center;
  }

  &[class*="-g"] {
    gap: 2rem;
  }

  &[class*="-w"] {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;

    &[class*="3"]>* {
      flex-basis: 30%;
    }
  }
}
