.btn {
  padding: 25px 20px;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;

  >i {
    margin-left: 30px;
  }

}

.no-btn {
  background-color: transparent;
  border: none;
}

.no-left {
  margin-left: 0;
}
