@use "../utils/variables";

.tag {
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  color: #fff;

  >i {
    margin-left: 15px;
  }

  &-wrapper {
    margin: 0 20px;

    &.active {
      .btn {
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        display: flex;
        justify-content: space-between;
      }
    }

    &:not(.active)>.tag-list {
      display: none;
    }


  }

  &-list {
    padding: 25px 20px;
    border-radius: 0 0 5px 5px;
    position: absolute;
    max-width: 60vw;

    &>li {
      color: #fff;
      text-transform: capitalize;
      font-weight: 400;
      font-size: 18px;
    }
  }
}

.tag-ingredients {
  background: variables.$blue;
}

.tag-machine {
  background: variables.$green;
}

.tag-tools {
  background: variables.$strong-red;
}
