@use "../utils/variables";

.tag {
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  color: #fff;

  >i {
    margin-left: 15px;
  }

  &-wrapper {
    &.active {
      .btn {
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        display: flex;
        justify-content: space-between;
      }
    }

    ul {
      padding: 25px 20px;
    }
  }
}

.tag-ingredients {
  background: variables.$blue;
}

.tag-machine {
  background: variables.$green;
}

.tag-tools {
  background: variables.$strong-red;
}
