@use "../utils/variables";

body {
  padding: 42px 100px 0;
}

h1 {
  color: variables.$light-red;
  font-family: "DM Sans", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: center;
}

header {
  margin-bottom: 20px;
}

section {
  margin-bottom: 25px;
}

.dish {
  border-radius: 5px;
  overflow: hidden;

  .top,
  .bottom {
    height: 25vh;
  }

  .top {
    background: #C7BEBE;
  }

  .bottom {
    background: #E7E7E7;
    padding: 20px;
  }

  ul {
    list-style: none;
  }

  p,
  ul {
    overflow: hidden;
  }

  p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #000000;
  }

  h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }

  li {
    font-family: 'Lato';
    font-style: normal;
    font-size: 12px;
    line-height: 14px;
    color: #000000;

    &>strong {
      font-weight: 700;
    }
  }

  .text-r {
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
  }
}

[class*="ingredients"] {
  background: variables.$blue;
}

[class*="machine"] {
  background: variables.$green;
}

[class*="tools"] {
  background: variables.$strong-red;
}

ul.no-list[class*=-w] {
  gap: 2rem 0;
}

.tag-wrapper:not(.active)>.tag-list {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.hover:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.1s ease-in-out;
}
