* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

@font-face {
  font-family: "Lato";
  src: url("../../assets/fonts/Lato/Lato-Regular.ttf"),
    url("../../assets/fonts/Lato/Lato-Black.ttf"),
    url("../../assets/fonts/Lato/Lato-Bold.ttf"),
    url("../../assets/fonts/Lato/Lato-Light.ttf"),
    url("../../assets/fonts/Lato/Lato-BlackItalic.ttf"),
    url("../../assets/fonts/Lato/Lato-BoldItalic.ttf"),
    url("../../assets/fonts/Lato/Lato-LightItalic.ttf"),
    url("../../assets/fonts/Lato/Lato-Italic.ttf"),
    url("../../assets/fonts/Lato/Lato-Thin.ttf"),
    url("../../assets/fonts/Lato/Lato-ThinItalic.ttf");
}

@font-face {
  font-family: "DM Sans";
  src: url("../../assets/fonts/DM_Sans/DMSans-Bold.ttf"),
    url("../../assets/fonts/DM_Sans/DMSans-BoldItalic.ttf"),
    url("../../assets/fonts/DM_Sans/DMSans-Italic.ttf"),
    url("../../assets/fonts/DM_Sans/DMSans-Medium.ttf"),
    url("../../assets/fonts/DM_Sans/DMSans-MediumItalic.ttf"),
    url("../../assets/fonts/DM_Sans/DMSans-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto/Roboto-Regular.ttf"),
    url("../../assets/fonts/Roboto/Roboto-Black.ttf"),
    url("../../assets/fonts/Roboto/Roboto-BlackItalic.ttf"),
    url("../../assets/fonts/Roboto/Roboto-Bold.ttf"),
    url("../../assets/fonts/Roboto/Roboto-BoldItalic.ttf"),
    url("../../assets/fonts/Roboto/Roboto-Italic.ttf"),
    url("../../assets/fonts/Roboto/Roboto-Light.ttf"),
    url("../../assets/fonts/Roboto/Roboto-LightItalic.ttf"),
    url("../../assets/fonts/Roboto/Roboto-Medium.ttf"),
    url("../../assets/fonts/Roboto/Roboto-MediumItalic.ttf"),
    url("../../assets/fonts/Roboto/Roboto-Thin.ttf"),
}
